assets/context.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.magiumlib.com/ConfigurationContext"
           xmlns="http://www.magiumlib.com/ConfigurationContext"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="contextType">
        <xs:sequence>
            <xs:element name="context" type="contextType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="label" use="optional"/>
    </xs:complexType>
    <xs:element name="magiumDefaultContext">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="context" minOccurs="0" maxOccurs="unbounded" type="contextType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
